<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>informations-all</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <div class="info-title">
        <h1>000지역 / 000복지</h1>
        <p>000지역 000복지에 관한 설명 000복지에는 무엇이 들어가면 좋을까요
            대상도 나눠서 볼 수 있거나 자신한테 맞는 복지를 검색을 통해 찾는 기능이 추가
            된다면 더욱 좋을 것 같습니다.
        </p>
    </div>
    <div class="info-border"></div>
    <main class="info-main">
        <div class="info-main-content">
            <div class="info-main-content__top">
                <h4>000지역 복지제도</h4>
                <form>
                    <select></select>
                </form>
            </div>
            <div class="info-main-content__grid">
                <div class="info-main-content__column">
                    <div class="info-box">
                        <div class="info-box__ct">서민금융</div>
                        <div class="info-box__ct">청년</div>
                        <img class="info-box__star" src="../../static/image/star.svg">
                        <div class="info-box__topic">청년도약계좌</div>
                        <div class="info-box__description">만기 5년동안 매월 70만원 한도 내에서 자유롭게 
                            납입 가능한 정부지원형 적금상품으로 청년의 중장기 자산형성을 지원합니다.</div>
                        <table class="info-box__table" style="background-color: lightblue;">
                            <tr class="info-box__table-tr" style="background-color: antiquewhite;">
                                <td class="info-box__table-ctgory">문의처</td>
                                <td class="info-box__table-ctgory-data">1397</td>
                            </tr>
                            <tr class="info-box__table-tr">
                                <td class="info-box__table-ctgory">지원주기</td>
                                <td class="info-box__table-ctgory-data">월</td>
                            </tr>
                            <tr class="info-box__table-tr">
                                <td class="info-box__table-ctgory">제공유형</td>
                                <td class="info-box__table-ctgory-data">기타</td>
                            </tr>
                            <tr class="info-box__table-tr">
                                <td class="info-box__table-ctgory">담당부처</td>
                                <td class="info-box__table-ctgory-data">금융위원회 청년정책과</td>
                            </tr>
                        </table>
                        <button class="info-box__more-btn">자세히 보기</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>