<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/screens/localMain.css">
    <script defer src="../../static/js/script.js"></script> 
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/footer.css">
    <title>Document</title>
</head>
<body>
    
    <div id="header"></div>
    <script src="/static/js/header.js"></script>


    <section id ="sec1">
        <div id="local-title">000지역 / 000복지정보</div>
        <div id="more">[더보기]</div>

        <div class="slider">
            <hr style="border: solid 20px #4B2A0B;">
            
            </div>

            <div class="item-wrapper">
                 <div class="item">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>
                 <div class="item1">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>
                 
                 <div class="item2">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>

                 <div class="item3">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>

                 <div class="item">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>

                 <div class="item1">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>


                 
                 <div class="item2">
                    <div id="text1">
                        <h1>경기교통공사</h1>
                        <h2>경기도</h2>
                        <h3>청소년 교통비 지원</h3>
                        <h4>신청일 기준 주민등록 상 주소지가 경기도인 만13~23세 청소년
                            에게 연 12만원 한도로 본인이 등록한 지역화폐로 환급.</h4>
                    </div>
                 </div>
             </div>
             <div id="btns">
                <button id="left-btn" class="slider-btn"><img src="/static/image/left-btn.png"></button>
                <button id="right-btn" class="slider-btn"><img src="/static/image/right-btn.png"></button>

                
             </div>
    </section>
 

    

    <section class="sec2">

        <div id="local-title">000지역 / 다문화 관련 지원 사업</div>

        <div class="item-title"> <div id="item-more">다문화 가정을 위한 지원 사업 안내</div>
        <div id="more">[더보기]</div></div>

        <div id="rectangle">
            <div><button id="localbtn"><p>[성북구 주민센터] 다문화 가정을 위한 지원 사업 안내</p></button></div>
            <div><button id="localbtn"><p>[성북구 주민센터] 다문화 가정 자녀 한글 배움 사업</p></button></div>
            <div><button id="localbtn"><p>[성북구청] 다문화 가정 장학금 지원 사업</p></button></div>
         </div>
    </section>
    


    <section id="sec3">
        <div id="local-title">000지역 / 방과후 및 교육 관련 사업</div>
        <div> <div id="item-more">방과후 & 교육 관련 사업 안내</div>
        <div id="more">[더보기]</div></div>
     

        <div class="localboxs">
            <div id="item-boxs">
                    <div id="item-box1">
                        <button id="offline">접수중</button>
                        <button id="online">온라인</button>
                      <div id="item-explain">
                        <h1>장소: 경기도 고양시 일산서구 중앙로 1600 일산서구청 2층 가라지 대강당</h1>
                        <h2>이용대상: 전체</h2>
                        <h3>신청: 2023-07-29 ~ 2023-08-17<br>교육:  2023-08-17 ~ 2023-08-17<br>모집정원: 30명</h3>
                        <h4>수강료: 선착순 무료</h4>
                      </div>
                   </div>


                   <div id="item-box2">
                    <button id="offline">접수중</button>
                    <button id="online">온라인</button>
                  <div id="item-explain">
                    <h1>장소: 경기도 고양시 일산서구 중앙로 1600 일산서구청 2층 가라지 대강당</h1>
                    <h2>이용대상: 전체</h2>
                    <h3>신청: 2023-07-29 ~ 2023-08-17<br>교육:  2023-08-17 ~ 2023-08-17<br>모집정원: 30명</h3>
                    <h4>수강료: 선착순 무료</h4>
                  </div>
               </div>
            </div>

            <div class="localboxs">
                <div id="item-boxs">
                        <div id="item-box3">
                            <button id="offline">접수중</button>
                            <button id="online">온라인</button>
                          <div id="item-explain">
                            <h1>장소: 경기도 고양시 일산서구 중앙로 1600 일산서구청 2층 가라지 대강당</h1>
                            <h2>이용대상: 전체</h2>
                            <h3>신청: 2023-07-29 ~ 2023-08-17<br>교육:  2023-08-17 ~ 2023-08-17<br>모집정원: 30명</h3>
                            <h4>수강료: 선착순 무료</h4>
                          </div>
                       </div>
    
    
                       <div id="item-box4">
                        <button id="offline">접수중</button>
                        <button id="online">온라인</button>
                      <div id="item-explain">
                        <h1>장소: 경기도 고양시 일산서구 중앙로 1600 일산서구청 2층 가라지 대강당</h1>
                        <h2>이용대상: 전체</h2>
                        <h3>신청: 2023-07-29 ~ 2023-08-17<br>교육:  2023-08-17 ~ 2023-08-17<br>모집정원: 30명</h3>
                        <h4>수강료: 선착순 무료</h4>
                      </div>
                   </div>
                </div>
        </div>
    </section>

    <div id="footer"></div>
    <script src="/static/js/footer.js"></script>
</body>
</html>