<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/screens/mypage.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/footer.css">
    <title>Document</title>
</head>
<body> 
    
    <div id="header"></div>
    <script src="/static/js/header.js"></script>














    
</body>
</html>