<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="/static/css/screens/mypage_like.css">
   

    <title>Document</title>
</head>
<body>

   <div id ="mytitle"><img src="/static/image/chat.png">작성댓글</div>
   <h1> 내가 작성한 댓글 보기</h1>

  <div class="mypageWrite">
     <div id="leftnav">
            <nav class="main-left__nav">
                    <ul class="post-nav">
                        <li class="nav__list2"><a href="#">작성글</a></li><div class="main-left__nav-border"></div>
                        <li class="nav__list1"><a href="#">작성댓글</a> </li><div class="main-left__nav-border"></div>
                        <li class="nav__list2"><a href="#">좋아요</a></li><div class="main-left__nav-border"></div>
                        <li class="nav__list2"><a href="#">스크랩</a></li> 
                    </ul>
            </nav>
      </div>
     
    <div id="rightform">
        <input type="radio" name="gender" value="male"><span>전체선택 l 삭제하기</span>
       <table class="chattable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
        <tr>
            <td>1990년대 이후로 꾸준히 국제결혼이 이어지면서 한국 사회는 다문화 가정을 이룬 사회로 접어들었다. 주로 아시아 여성들이 한국인 남성과 결혼하여 한국사회에 편입되는 형태로 다문화 가정이 형성되고 있다. 다문화 가정은 국가, 성, 계급 등의 결합을 포함하는 개념이므로, 다문화 가정에 대해 알아보려면 언어 및 문화 적응을 포함한 결혼 이주 여성의 한국 사회 적응, 다문화 가정 내 부부 관계 및 부모자녀 관계의 형성, 다문화 가정의 사회 내 적응 등의 문제를 중요하게 살펴보아야 한다.</td>
            <td>2022.10.05 16:00</td>
            <td>다문화 가정 / multi-cultural family </td>
        </tr>
      
        </tr>

        </tbody>
       </table>



    </div>





  </div>
</body>
</html>