<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>posts-lists</title>
</head>
<body>
    <div include-html="header.html"></div>
    <main class="posts-main">
        <div class="posts-main-content">
            <div class="main-left">
                <nav class="main-left__nav">
                    <div class="main-left__nav-yellow"></div>
                    <div class="main-left__nav-bookmark"></div>
                    <div class="main-left__nav-white">
                        <img src="../../static/image/main-logo.svg">
                        <div class="main-left__nav-title"><span>Damo.yeo</span></div><div class="main-left__nav-border"></div>
                        <ul class="post-nav">
                            <li class="post-nav__list"><a href="#">전체글</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">실시간 인기글</a> </li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">게시판 모음</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">알바 게시판</a></li>
                            <li class="post-nav__list"><a href="#">과외 게시판</a></li>
                            <li class="post-nav__list"><a href="#">취준 게시판</a></li>
                            <li class="post-nav__list"><a href="#">경력단절 게시판</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">공지사항</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">이벤트</a></li><div class="main-left__nav-border"></div>
                            
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="main-right">
                <header class="main-right__title">전체글</header>
                <div class="main-right__column">
                    <div class="main-right__sub-title">모든 게시판의 글을 볼 수 있는 곳</div>
                    <form action="/informations/region/" method="GET" id="align_mode_form" class="align_mode_form">
                        <select name="align_mode" id="align_mode" class="align_mode">
                            <option value="recently">최신순</option>
                            <option value="scrap">인기순</option>
                        </select>
                    </form>
                </div>
                <div class="main-right__hr main-right__hr--bolder"></div>
    
                <section class="main-right__posts">
                    <table class="posts-wrap">
                        <tr class="posts-wrap__top">
                            <th class="posts-wrap__topic posts-wrap__topic--top">Topic</th>
                            <th class="posts-wrap__title posts-wrap__title--top">제목</th>
                            <th class="posts-wrap__writer posts-wrap__writer--top">작성자</th>
                            <th class="posts-wrap__date posts-wrap__date--top">작성일</th>
                            <th class="posts-wrap__count posts-wrap__count--top">조회</th>
                        </tr>
                        <tr class="posts-wrap__notice">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--notice">공지</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">공지사항</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.10</td>
                            <td class="posts-wrap__count posts-wrap__count--data">500</td>
                        </tr>
                        <tr class="posts-wrap__notice">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--notice">공지</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">공지공지합니다</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.10</td>
                            <td class="posts-wrap__count posts-wrap__count--data">500</td>
                        </tr>
                        <tr class="posts-wrap__notice">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--notice">공지</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">공지사항!! sddddddddddfaa</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.10</td>
                            <td class="posts-wrap__count posts-wrap__count--data">500</td>
                        </tr>

                        <tr class="posts-wrap__worry">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--worry">고민</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">고민상담</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.06</td>
                            <td class="posts-wrap__count posts-wrap__count--data">568</td>
                        </tr>
                        <tr class="posts-wrap__worry">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--worry">고민</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">고민상담sdfsdfsdfsfasdf</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.06</td>
                            <td class="posts-wrap__count posts-wrap__count--data">568</td>
                        </tr>
                        <tr class="posts-wrap__worry">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--worry">고민</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">고민상담</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.06</td>
                            <td class="posts-wrap__count posts-wrap__count--data">568</td>
                        </tr>
                        <tr class="posts-wrap__worry">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--worry">고민</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">고민상담</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.06</td>
                            <td class="posts-wrap__count posts-wrap__count--data">568</td>
                        </tr>
                    </table>
                </section>
                <div class="posts-footer">
                    <ul class="number-nav">
                        <li class="number-nav__list"><a href="#"><img id="left-btn" src="../../static/image/left-btn.svg"></a></li>
                        <li class="number-nav__list"><a href="#">1</a></li>
                        <li class="number-nav__list"><a href="#">2</a></li>
                        <li class="number-nav__list"><a href="#">3</a></li>
                        <li class="number-nav__list"><a href="#">4</a></li>
                        <li class="number-nav__list"><a href="#">5</a></li>
                        <li class="number-nav__list"><a href="#">6</a></li>
                        <li class="number-nav__list"><a href="#">7</a></li>
                        <li class="number-nav__list"><a href="#">8</a></li>
                        <li class="number-nav__list"><a href="#"><img id="right-btn" src="../../static/image/left-btn.svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div style="font-size: 1rem; font-family: Inter; color: #FFF; font-weight: 600;"><img src="/static/image/하단 로고.png">DIAMO.YEA</div>
        <div style="font-size: 0.7rem; font-family: Inter;color: #FFF;">대표 : 멋쟁이 사자처럼 한성지부  Email : noname****</div>
        <div style="font-size: 0.7rem; font-family: Inter;color: #FFF;">대표번호: 02-760-4219  주소:서울특별시 성북구 삼선교로 16길 116</div>
    </footer>
    <script src="../../static/js/includeHTML.js"></script>
</body>
</html>