<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>post-1</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main class="main">
        <div class="main-content">
            <div class="main-left">
                <nav class="main-left__nav">
                    <img src="../../static/image/main-logo.svg">
                    <div class="main-left__nav-title"><span>Diamo.yeo</span></div>
                    <ul class="post-nav">
                        <li class="post-nav__list">전체글</li>
                        <li class="post-nav__list">실시간 인기글</li>
                        <li class="post-nav__list">게시판 모음</li>
                        <li class="post-nav__list">알바 게시판</li>
                        <li class="post-nav__list">과외 게시판</li>
                        <li class="post-nav__list">취준 게시판</li>
                        <li class="post-nav__list">경력단절 게시판</li>
                        <li class="post-nav__list">공지사항</li>
                        <li class="post-nav__list">이벤트</li>
                        
                    </ul>
                </nav>
            </div>
            <div class="main-right">
                <header class="main-right__title">전체글</header>
                <div class="main-right__column">
                    <div class="main-right__sub-title">모든 게시판의 글을 볼 수 있는 곳</div>
                    <button>인기순</button>
                </div>
                <div class="main-right__hr"></div>
    
                <section class="main-right__posts">
                    <table class="posts-wrap">
                        <tr class="posts-wrap__top">
                            <th class="posts-wrap__topic posts-wrap__topic--top">Topic</th>
                            <th class="posts-wrap__title posts-wrap__title--top">제목</th>
                            <th class="posts-wrap__writer posts-wrap__writer--top">작성자</th>
                            <th class="posts-wrap__date posts-wrap__date--top">작성일</th>
                            <th class="posts-wrap__count posts-wrap__count--top">조회</th>
                        </tr>
                        <tr class="posts-wrap__notice">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--notice">공지</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">공지사항</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.10</td>
                            <td class="posts-wrap__count posts-wrap__count--data">500</td>
                        </tr>
                        <tr class="posts-wrap__worry">
                            <td class="posts-wrap__topic"><span class="posts-wrap__topic--worry">고민</span></td>
                            <td class="posts-wrap__title posts-wrap__title--data">고민상담</td>
                            <td class="posts-wrap__writer posts-wrap__writer--data">상상부기</td>
                            <td class="posts-wrap__date posts-wrap__date--data">2023.08.06</td>
                            <td class="posts-wrap__count posts-wrap__count--data">568</td>
                        </tr>
                    </table>
                </section>
                <footer class="main-right__number">
                    <ul class="number-nav">
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                        <li class="number-nav__list"></li>
                    </ul>
                </footer>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>