<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>posts-writing</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main class="main">
        <div class="main-content">
            <div class="main-left">
                <nav class="main-left__nav">
                    <div class="main-left__nav-yellow"></div>
                    <div class="main-left__nav-bookmark"></div>
                    <div class="main-left__nav-white">
                        <img src="../../static/image/main-logo.svg">
                        <div class="main-left__nav-title"><span>Damo.yeo</span></div><div class="main-left__nav-border"></div>
                        <ul class="post-nav">
                            <li class="post-nav__list"><a href="#">전체글</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">실시간 인기글</a> </li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">게시판 모음</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">알바 게시판</a></li>
                            <li class="post-nav__list"><a href="#">과외 게시판</a></li>
                            <li class="post-nav__list"><a href="#">취준 게시판</a></li>
                            <li class="post-nav__list"><a href="#">경력단절 게시판</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">공지사항</a></li><div class="main-left__nav-border"></div>
                            <li class="post-nav__list"><a href="#">이벤트</a></li><div class="main-left__nav-border"></div>
                            
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="main-right">
                <header class="main-right__title">글쓰기</header>
                <div class="main-right__hr main-right__hr--lighter"></div>

                <div class="main-right__choose-posts">
                    <button class="main-right__choose-posts-btn">
                        <span>게시판을 선택</span>
                        <img src="../../static/image/left-btn.svg">
                    </button>
                </div>
                <div class="main-right__input-title">
                    <form class="main-right__input-title-form">
                        <input type="text" placeholder="제목을 입력해 주세요.">
                    </form>
                </div>
                <div class="main-right__edit">

                </div>
                <div class="main-right__input-text">
                    <textarea placeholder="작성할 내용">

                    </textarea>
                </div>

    
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>