<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/header.css">
    <script src="/static/js/includeHTML.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div id="head">
            <div>
                <div onClick="location.href='/templates/informations/main.html'" style="cursor: pointer;"><img class="header-img" src="/static/image/로고.png">다모여</div>
                <div id="divRight">
                    <div onClick="location.href=''" style="cursor: pointer;" img src="/static/imagepng">송효재님ㅣ마이페이지</div>
                    <div onClick="location.href=''" style="cursor: pointer;">로그아웃</div>
                </div>
            </div>
        </div>    
        <div id="nav">
            <div>
                <div onClick="location.href='/templates/informations/main.html'" style="cursor: pointer;">메인</div>
                <div onClick="location.href=''" style="cursor: pointer;">과외</div>
                <div onClick="location.href=''" style="cursor: pointer;">지역정보</div>
                <div onClick="location.href=''" style="cursor: pointer;">게시판</div>
            </div>
        </div>
    </header>
</body>
</html>