<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>signup</title>
</head>
<body>
    <header></header>
    <main class="signup-main">
        <div class="signup__title">
            회원가입
            <div class="signup-title-line"></div>
        </div>
        <div class="signup">
            <div class="login__img"><img src="../../static/image/lion.png"></div>
            <div class="signup__form-column signup__form-column--margin31">
                <form method="post" action="" class="signup__form">
                    <label for="signup-username"><img src="../../static/image/user.svg"></label>
                    <input id="signup-username" class="signup__form-username" type="text" placeholder="아이디를 입력해주세요.">
                </form>
            </div>
            <div class="signup__form-column signup__form-column--margin31">
                <form method="post" action="" class="signup__form">
                    <label for="signup-pw"><img src="../../static/image/password.svg"></label>
                    <input id="signup-pw" class="signup__form-pw" type="password" placeholder="6~8자리 영문, 숫자가 포함된 비밀번호를 입력해주세요.">
                </form>
            </div>
            <div class="signup__form-column">
                <form method="post" action="" class="signup__form"> 
                    <label for="signup-pw"><img src="../../static/image/password.svg"></label>
                    <input id="signup-pw" class="signup__form-pw" type="password" placeholder="비밀번호를 다시 입력해주세요.">
                </form>
            </div>

            <input class="signup-btn signup-btn--margin88" type="submit" value="가입하기">

        </div>
    </main>
    <footer></footer>
</body>
</html>