/*components*/
@import "components/footer.css";
@import "components/header.css";
@import "components/posts-left-nav.css";
/*screens*/
@import "screens/posts-lists.css";
@import "screens/posts-writing.css";
*{margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;}
html {
    width: 1920px;
    height: 2468px;
}
