
body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.class{
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 190px;
    display: flex;
    flex-direction: row;
    color: #231910;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}


input[type="file"]{
    font-size: 0.8rem;
    width: 300px;
    margin-top: 180px;
    margin-left: 100px;
}
#classteacher{
    margin-top: 20px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}


#titlecost{
    margin-top: 20px;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}

form {
    margin-top: 10px;
    width: 350px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;;
  }


  #details{
    margin-left: 650px;
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  

  #name{
 display: flex;
 flex-direction: row;

  }

  #name >p{
    padding-right: 10px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;
    }

#name >div{
    padding-top: 5px;
    width: 100px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}

#name>input{
    margin-left: 20px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
    width: 300px;
    height: 30px;
}

#gender{
    display: flex;
    flex-direction: row;
}

#gender>p{
    margin-top: 20px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;
}

#gender>div{
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}




#age{
    display: flex;
    flex-direction: row;
}

#age>p{
    margin-top: 20px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;
}

#age>div{
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}

#age>input{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
    width: 300px;
    height: 30px;
}


#educational{
    display: flex;
    flex-direction: row;

}


#educational>p{
    margin-top: 20px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;
}

#educational>div{

    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}



#educational>select{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
    width: 300px;
    height: 30px;
}

#radio-none{
    margin-top: 10px;
    margin-left: 340px;
}

#classcost{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 30px;
    margin-left: 230px;

}

#classcost>p{
    margin-top: 20px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;
}

#classcost>div{

    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    width: 140px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}

#classcost>select{
    width:600px;
    height: 35px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
    color: #858585;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.75px;
    }



.keydiv{
    display: flex;
    flex-direction: row;
}

#keyword{
    margin-left: 110px;
    margin-top: 60px;
    color: #4B2A0B;
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}

.keydiv>h1{
    margin-top: 75px;
    margin-left: 10px;
    color: #9F8267;
    font-family: Inter;
    font-size:0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}

#sec3{
    
    display: flex;
    flex-direction: column;
   width: 1200px;
    height: 800px;
    margin-left: 200px;
}

#item{
    display: flex;
    flex-direction: row;
    margin-left: 115px;
}


#item>p{
    margin-top: 20px;
    color: #FF8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.75px;


}

#item>div{

    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
    border-radius: 7px;
    background: #705134;
}


.radio-class{
    width: 1100px;
    height: 50px;
    margin-left: 250px;
    margin-top: -35px;
}  




#special{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 140px;
    
}

#special>div{

    width: 100px;
    height: 30px;
    padding-top: 5px;
    border-radius: 7px;
    border: 1.5px solid #4B2A0B;
    background: #FBFCF2;
    color: #4B2A0B;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.1px;
}

#special>input{
    width: 700px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1.5px solid #563617;
    background: #FFF;
}

.apply{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid #251A0F;
    background: #4B2A0B;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
    margin-bottom: 80px;
}




#footer{
    width: 100%;
}
