.number-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number-nav__list {
    list-style: none;
}
.number-nav__list a {
    text-decoration: none;
    font-size: 21px;
}
#right-btn {
    rotate: 180deg;
}
.number-nav__left-btn,
.number-nav__right-btn {
    width: 21px;
    height: 21px;
}
.number-nav__right-btn {
    rotate: 180deg;
}