<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/screens/classregistration.css">
    <title>Document</title>
</head>
<body>
    <section id ="sec1">
        <div class="class">수업등록하기</div>
        <div id ="classteacher">강사 정보 입력 
          
            <form name="사진" action="이 데이터들을 받을 파일" method="post" enctype="multipart/form-data">
                <input type='file' name='' />
            </form>
           
        </div>

        <div id ="details">
           <div id ="name">
                <div>이름</div>
                <input type="text"  name="텍스트" value="" size="35" maxlength="20">
           </div>
            
            <div id="gender">
              <div id="gender-box">성별</div>
              <div class="radio-gender">
                <input type="radio" name="chk_info" value="남"  >남
                <input type="radio" name="chk_info" value="여" checked="checked">여
              </div>
            </div>

            <div id ="age">
                <div>나이</div>
                <input type="text"  name="텍스트" value="" size="35" maxlength="6">
           </div>

            <div id="educational">
                  <div>학력</div>
                <select>
                    <option>학력사항을 선택해주세요.</option>
                    <option>2022년</option>
                    <option>2021년</option>
                    <option>2020년</option>
                    <option>2019년</option>
                    <option>2018년</option>
                    <option>2017년</option>
                    <option>2016년</option>
                    <option>2015년</option>
                    <option>2014년</option>
                </select>
            </div>
                  <div id="radio-none">
                    <input type="radio" name="info" value="해당사항 없음">해당사항 없음
                </div>
            </div>
        </div>
    </section>

    <hr style="border: solid 1px #000; width: 960px; margin-top: 90px; margin-left: 170px;">



    <section id ="sec2">
      <div id="classteacher">수업 비용</div>
        <div id="classcost">
            <div>수업 비용</div>
          <select>
              <option>* 일주일을 기준으로 1시간씩, 월 4회 수업이 제공됩니다. 시간 당 비용을 선택해주세요.</option>
              <option>1시간/10,000</option>
              <option>1시간/20,000</option>
              <option>1시간/30,000</option>
              <option>1시간/40,000</option>
              <option>1시간/50,000</option>
          </select>
      </div>
    </section>

    <hr style="border: solid 1px #000; width: 960px; margin-top: 90px; margin-left: 170px;">

   
        <div class="keydiv">
            <div id ="classteacher">수업 키워드</div>
            <p>중복 선택 가능</p>
        </div>
        <section id="sec3">
            <div id ="classkeyword"> 
                <div id ="item">
                    <div id ="classboxs">수업 대상</div> 
                      <div class="radio-class">
                        <input type="radio" name="cinfo" value="">초등학생
                        <input type="radio" name="cinfo" value="">중학생
                        <input type="radio" name="cinfo" value="">고등학생
                        <input type="radio" name="cinfo" value="">대학생
                        <input type="radio" name="cinfo" value="">직장인
                        <input type="radio" name="cinfo" value="">기타
                       </div>
                    </div>
                </div>

                <div id ="item">
                    <div id ="classboxs">수업 분류</div>
                    <div class="radio-class">
                        <input type="radio" name="hinfo" value="">회화
                        <input type="radio" name="hinfo" value="">비즈니스 영어
                        <input type="radio" name="hinfo" value="">유학 준비
                        <input type="radio" name="hinfo" value="">자격증 준비
                        <input type="radio" name="hinfo" value="">초급자 대상
                        <input type="radio" name="hinfo" value="">중급자 대상
                        <input type="radio" name="hinfo" value="">고급자 대상
                      </div>
                    </div>
                </div>

                <div id ="item">
                    <div id="classbox">강사 정보</div>
                      <div>
                        <div class="radio-class2">
                        <input type="radio" name="k_info" value="">신입
                        <input type="radio" name="k_info" value="">1년 이상 경력
                        <input type="radio" name="k_info" value="">3년 이상 경력
                        <input type="radio" name="k_info" value="">5년 이상 경력
                        <input type="radio" name="k_info" value="">7년 이상 경력
                        <input type="radio" name="k_info" value="">10년 이상 경력
                        </div>
                    </div>
                </div>
            </div>   
            
            
            <div id ="special">
                <div>특이사항</div>
                <input type="specai-text" placeholder="*특이사항을 입력해주세요.">

           </div>

        </section>



    <button class="apply">등록하기</button>


</body>
</html>