<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id ="sec1">
        <div id ="class">수업등록하기</div>
        <div id ="classteacher">강사 정보 입력
            <div><img src="">
                <p>사진을 등록해주세요</p>
            </div>
        <div id="details">
            <div id="name">이름<input type="text"  name="텍스트" value="" size="35" maxlength="6"></div>
            <div id="gender">성별
                <input type="radio" name="chk_info" value="남">남
                <input type="radio" name="chk_info" value="여" checked="checked">여
            </div>
            <div id="name">나이<input type="text"  name="텍스트" value="" size="35" maxlength="6"></div>
            <div id="educational background">학력


                <select id ="educational">
                    <option>학력사항을 선택해주세요.</option>
                    <option>2022년</option>
                    <option>2021년</option>
                    <option>2020년</option>
                    <option>2019년</option>
                    <option>2018년</option>
                    <option>2017년</option>
                    <option>2016년</option>
                    <option>2015년</option>
                    <option>2014년</option>
                </select>

                    <input type="radio" name="chk_info" value="해당사항 없음">해당사항 없음
                </div>
            </div>
        </div>
    </section>


    <section id ="sec2">
        <div id ="class">수업비용</div>
          <div id="cost">수업비용


            <select id ="classcost">
                <option>* 일주일을 기준으로 1시간씩, 월 4회 수업이 제공됩니다. 시간 당 비용을 선택해주세요.</option>
                <option>1시간/10,000</option>
                <option>1시간/20,000</option>
                <option>1시간/30,000</option>
                <option>1시간/40,000</option>
                <option>1시간/50,000</option>
             </select>
            </div>
    </section>



    <section id="sec3">
        <div id ="keyword">수업 키워드</div>
        <div id ="classkeyword"> 
           <div id ="classbox">수업 대상
            <input type="radio" name="chk_info" value="">초등학생
            <input type="radio" name="chk_info" value="">중학생
            <input type="radio" name="chk_info" value="">고등학생
            <input type="radio" name="chk_info" value="">대학생
            <input type="radio" name="chk_info" value="">직장인
            <input type="radio" name="chk_info" value="">기타
           </div>

           <div id ="classbox">수업 분류
            <input type="radio" name="chk_info" value="">회화
            <input type="radio" name="chk_info" value="">비즈니스 영어
            <input type="radio" name="chk_info" value="">유학 준비
            <input type="radio" name="chk_info" value="">자격증 준비
            <input type="radio" name="chk_info" value="">자격증 준비
            <input type="radio" name="chk_info" value="">중급자 대상
            <input type="radio" name="chk_info" value="">고급자 대상
           </div>

           <div id ="classbox">강사 정보
            <input type="radio" name="chk_info" value="">신입
            <input type="radio" name="chk_info" value="">1년 이상 경력
            <input type="radio" name="chk_info" value="">3년 이상 경력
            <input type="radio" name="chk_info" value="">5년 이상 경력
            <input type="radio" name="chk_info" value="">7년 이상 경력
            <input type="radio" name="chk_info" value="">10년 이상 경력
           </div>

        </div>
    </section>



    <button class="apply">신청하기</button>


</body>
</html>