<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>search-jobs</title>
</head>
<body>
    <header class="header" style="background-color: lightblue;">Header</header>
    <nav class="nav">
    </nav>
    <div class="search-jobs-main-img"></div>
    <main class="search-jobs-main">
        <div class="search-jobs-main__start">
            <h1><span>다양한 언어,</span> 관심있으신가요?</h1>
            <div class="">
                <img src="../../static/image/teacher-1.png">
                <div></div>
            </div>
            <div class="">
                <div></div>
                <img src="../../static/image/teacher-2.png">
            </div>

        </div>
        <div class="search-jobs-main__middle">
            
        </div>
        <div class="search-jobs-main__bottom">

        </div>



    </main>
    
    <footer>
        <div class="footer--yellow"></div>
    </footer>
</body>
</html>